/* fonts styles */
/* space-mono-700 - latin */
@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/space-mono-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/space-mono-v12-latin-700.woff') format('woff'), /* Modern Browsers */
  }
/* lexend-deca-regular - latin */
@font-face {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/lexend-deca-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lexend-deca-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
  }
:root{
  --header-bg-color: #fff ;
  --nav-text-color:#939CAA ;
  --main-title-color: #495567 ;
  --footer-button-color: #333A44;
  --main-button-color:#FCB72B ;
  --main-shadow-color:#E5ECF4;
}
.container {
  max-width: 1136px;
  margin: 0 auto;
  padding: 0 15px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body{
    font-family: "lexand-deca", "Arial",sans-serif;
    font-weight: 400;
}


/* header styles start */
.site-header__wrapper{
   display: flex;
   padding: 22px 0;
   justify-content: space-between;
}
.site-header__start{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar{
  margin-left: 58px;
}
.navbar-list{
  display: flex;
  align-items: center;
  padding: 0;
  gap: 30px;
  list-style: none;
}
.navbar-link{
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: var(--nav-text-color);
  text-decoration: none;
}
.navbar-link:hover{
  color: var(--main-button-color);
}
.header-btn{
  width: 180px;
  height: 53px;
  background-color: var(--main-button-color);
  border: none;
  cursor: pointer;
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: var(--header-bg-color);
}
.hamburger-btn{
  width: 20px;
  height: 16px;
  background-image: url(../images/icons/hamburger.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  background-position: center center;
  border: none;
  display: none;
}
.header-btn:hover{
  border: 3px solid var(--main-button-color);
  background-color: var(--header-bg-color);
  color: var(--main-button-color);
}
@media only screen and (max-width: 635px) {
  .site-header__wrapper{
    display: flex;
  }
  .navbar-list{
    display: none;
  }
  .site-header__wrapper .header-btn{
    display: none;
  }
  .hamburger-btn{
    display: inline;
  }
  .site-header__wrapper{
    text-align: center;
    align-items: center;
  }
}
/* header styles end */


/* hero styles start */
.hero{
  top: 0;
  right: 0;
  left: 0;
  height: 650px;
  background-image: url(../images/bacraund2x.jpg);
  background-repeat: no-repeat;
  background-size:cover;
}
.hero-container{
  width: 100%;
  margin: 0 auto;
  padding: 0 ;
}
.hero__wrapper{
  padding-top: 153px;
  align-items: center;
}
.hero__wrapper-title{
  width: 468px;
  height: 112px;
  margin: 0;
  padding-left: 165px;
  font-family: 'Space Mono',monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: var(--header-bg-color);
}
.hero_wrapper-abaut{
  display: flex;
}
.abaut-line__img{
  padding-top: 88px;
  margin-right: 57px;
}
.hero-abaut-description{
  width: 370px;
  height: 100px;
  margin-right: 40px;
  padding-top: 25px;
  font-size: 15px;
  line-height: 25px;
  color:var(--header-bg-color);
}
.abaut-arrow__img{
  padding-top:88px ;
}
.hero-btn{
  width: 180px;
  height: 53px;
  margin-top: 25px;
  background-color: var(--main-button-color);
  border: none;
  cursor: pointer;
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: var(--header-bg-color);
}
.hero-btn:hover{
  border: 3px solid var(--main-button-color);
  background-color: var(--header-bg-color);
  color: var(--main-button-color); 
}
/* hero styles end */