/* fonts styles */
/* space-mono-700 - latin */
@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/space-mono-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/space-mono-v12-latin-700.woff') format('woff'), /* Modern Browsers */
  }
/* lexend-deca-regular - latin */
@font-face {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/lexend-deca-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lexend-deca-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
  }
:root{
  --header-bg-color: #fff ;
  --nav-text-color:#939CAA ;
  --main-title-color: #495567 ;
  --footer-button-color: #333A44;
  --main-button-color:#FCB72B ;
  --main-shadow-color:#E5ECF4;
}
.container {
  max-width: 1136px;
  margin: 0 auto;
  padding: 0 15px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body{
    font-family: "lexand-deca", "Arial",sans-serif;
    font-weight: 400;
}
ul {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/* header styles start */
.site-header__wrapper{
   display: flex;
   padding: 22px 0;
   justify-content: space-between;
}
.site-header__start{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar{
  margin-left: 58px;
}
.navbar-list{
  display: flex;
  align-items: center;
  padding: 0;
  gap: 30px;
  list-style: none;
}
.navbar-link{
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: var(--nav-text-color);
  text-decoration: none;
}
.navbar-link:hover{
  color: var(--main-button-color);
}
.header-btn{
  width: 180px;
  height: 53px;
  background-color: var(--main-button-color);
  border: none;
  cursor: pointer;
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: var(--header-bg-color);
}
.hamburger-btn{
  width: 20px;
  height: 16px;
  background-image: url(../images/icons/hamburger.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  background-position: center center;
  border: none;
  display: none;
}
.header-btn:hover{
  border: 3px solid var(--main-button-color);
  background-color: var(--header-bg-color);
  color: var(--main-button-color);
}
@media only screen and (max-width: 635px) {
  .site-header__wrapper{
    display: flex;
  }
  .navbar-list{
    display: none;
  }
  .site-header__wrapper .header-btn{
    display: none;
  }
  .hamburger-btn{
    display: inline;
  }
  .site-header__wrapper{
    text-align: center;
    align-items: center;
  }
}
/* header styles end */


/* hero styles start */
.hero{
  height: 650px;
  background-image: url(../images/bacraund2x.jpg);
  background-repeat: no-repeat;
  background-size:cover;
}
.hero-container{
  width: 100%;
  margin: 0 auto;
}
.hero__wrapper{
  padding-top: 153px;
  align-items: center;
}
.hero__wrapper-title{
  width: 468px;
  height: 112px;
  margin: 0;
  padding-left: 165px;
  font-family: 'Space Mono',monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: var(--header-bg-color);
}
.hero_wrapper-abaut{
  display: flex;
}
.abaut-line__img{
  padding-top: 88px;
  margin-right: 57px;
}
.hero-abaut-description{
  width: 370px;
  height: 100px;
  margin-right: 40px;
  padding-top: 25px;
  font-size: 15px;
  line-height: 25px;
  color:var(--header-bg-color);
}
.abaut-arrow__img{
  padding-top:88px ;
}
.hero-btn{
  width: 180px;
  height: 53px;
  margin-top: 25px;
  background-color: var(--main-button-color);
  border: none;
  cursor: pointer;
  font-family: 'Space Mono',monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: var(--header-bg-color);
}
.hero-btn:hover{
  border: 3px solid var(--main-button-color);
  background-color: var(--header-bg-color);
  color: var(--main-button-color); 
}
/* hero styles end */


/* main styles start */
.site-main{
  top: 0;
  background-color: var(--header-bg-color);
}
.main-container{
  width: 100%;
  margin: 0 auto;
}
.scooter-section{
  width: 974px;
  height: 15px;
  margin-top: 208px;
  display: flex;
  background-color: var(--main-shadow-color);
}
.section-nav{
  margin-left: 165px;
  margin-top: -55.5px;
}
.section-nav-list{
  display: flex;
  gap: 45px;
}
.item-text-title{
  width: 320px;
  height: 28px;
  font-family: 'Space Mono', monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: var(--main-title-color);
}
.item-text-description{
  width: 320px;
  height: 100px;
  margin: 0;
  font-size: 15px;
  line-height: 25px;
  color: var(--nav-text-color);
}
/* first section styles start */
.first-section{
  margin-top: 476px;
  margin-left: 165px;
  display: flex;
}
.first-section-text{
  width: 445px;
}
.first-section-title{
  width: 430px;
  height: 96px;
  margin: 0;
  font-family: 'Space Mono', monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: var(--main-title-color);
}
.first-section-description{
  width: 445px;
  height: 100px;
  margin-top: 24px;
  font-size: 15px;
  line-height: 25px;
  color: var(--nav-text-color);
}
.first-section-btn{
  width: 180px;
  height: 53px;
  margin-top: 40px;
  border: none;
  background-color: var(--main-button-color);
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: var(--header-bg-color);
}
.first-section-btn:hover{
  border: 3px solid var(--main-button-color);
  background-color: var(--header-bg-color);
  color: var(--main-button-color);  
}
.first-section-bg__img{
  margin-left: 300px;
  display: flex;
  justify-content: space-between;
}
.first-section-arrow{
  position: relative;
  left: 620px;
  
}
.first-section__img-right{
  margin-left: 64px;
}
/* first section styles end */
.second-section{
  margin-top: 135px;
}
.second-section__wrapper{
  display: flex;
  gap: 220px;
}
.second-section-start{
  display: flex;
  gap: 64px;
} 
.second-section-circle{
  position: relative;
  top: 155px;
}
/* secon section styles end */
/* third section styles start */
.third-section-wrapper{
  display: flex;
  justify-content: space-between;
}
.third-section-text{
  margin-left: 165px;
}
.third-section-end{
  display: flex;
  gap: 64px;
}
.third-section-title{
  width: 445px;
  height: 96px;
  font-family: 'Space Mono',monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: var(--main-title-color);
}
.third-section-description{
  width: 445px;
  height: 100px;
  font-size: 15px;
  line-height: 25px;
  color: var(--nav-text-color);
}
.third-section-btn{
  width: 180px;
  height: 53px;
  border: none;
  background-color: var(--main-button-color);
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: var(--header-bg-color);
}
.third-section-payment-img{
    border-radius: 50%;
}
.third-section-arrow{
  position: relative;
  left: 1158px;
  top: 240px;
}
/* main styles end */